@font-face {
    font-family: 'volt';
    src: url('../fonts/Volter__28Goldfish_29.eot');
    src: url('../fonts/Volter__28Goldfish_29.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Volter__28Goldfish_29.svg#my-font-family') format('svg'),
    url('../fonts/Volter__28Goldfish_29.woff') format('woff'),
    url('../fonts/Volter__28Goldfish_29.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  background: rgba(0, 0, 0, 0.95);
  color: #EEE;
  margin: 0;
  padding: 0;
  font-family: 'volt', verdana, arial, sans-serif;
  font-size: 9px;
}

input, button, select, option {
  font-family: 'volt', verdana, arial, sans-serif;
  font-size: 9px;
}

#title {
  margin: 10px 0;
  font-weight: normal;
  font-size: 24px;
}

#title span {
  font-size: 9px;
  margin-left: -9px;
  display: inline-block;
}

#editor {
  width: 960px;
  margin: 0 auto;
  overflow: auto;
}

/* Desperate to remove focus outline in firefox */
::-moz-focus-inner {
  outline:0;
}

:focus {
  outline:0;
}

input[type="range"]:focus {
  outline: none !important;
}

.input {
  margin: 0;
}


.input-text,
.input-color {
  background: #000;
  border: 1px solid #FFF;
  border-radius: 0;
  color: #FFF;
}

.input-range {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  box-sizing: border-box;
  background-clip: padding-box;
  vertical-align: top;
  outline: none;
  /* -webkit-appearance: none; */
  outline:0;
}

.input-range::-webkit-slider-thumb {
  cursor: pointer;
  background: red;
  border-radius: 0;
  border: none;
  /* -webkit-appearance: none; */
}

input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance:none !important;
   width:25px;
   height:10px;
   -webkit-appearance: none;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -wekkit-border-radius: 8px;
    border:1px solid black;

    background: blue;
}


.input-range::-moz-range-thumb {
  cursor: pointer;
  background: #FFF;
  border-radius: 0;
  border: none;
  -webkit-appearance: none;
  height: 6px;

}

.input-range::-moz-range-track {
  border: 1px solid #FFF;
  border-radius: 0;
  background: black;
  height: 8px;
  outline:0;
}

#local_image {
  max-width: 120px;
}

#source_wrapper {
  float: left;
  margin-right: 10px;
}

#source_wrapper p {
  margin: 0;
}

#local_image {
  display: none;
}


.noscript {
  padding: 1rem;
  color: #FFF;
  text-align: center;
  background-color: #c40000;
}

.source_image {
  cursor: pointer;
}

.output_wrapper {
  float: left;
}


.col1 {
  float: left;
  width: 470px;
  margin-left: 10px;
}

.source_wrapper {

}

.source_wrapper p {
  margin: 0;
  color: #666;
}

.filter_selection {
   float: left;
}

.filter_selection p {
  margin: 0 0 6px 0;
}

.filter_selection label {
  display: inline-block;
  width: 50px;
}

#active_filters {
  clear: both;
  padding-top: 10px;
}

#active_filters > p {
  margin: 0;
  font-weight: bold;
}


.filter {
  border: 1px solid #232323;
  background: #232323;
  position: relative;
  overflow: hidden;
  padding-left: 6px;
  padding-right: 20px;
  margin: 1px 0 1px 0;
  cursor: pointer;
}

.filter.closed {
  background-color: #1A1A1A;
}

.filter.closed:hover {
  border-color: #979797;
}

.filter.closed .inputs_wrapper {
  display: none;
}

.filter_name {
  margin: 0;
  float: left;
  font-size: 9px;
}

.option_name {
  display: inline-block;
  min-width: 90px;
}

.filter_input {
  display: block;
}

.inputs_wrapper {
  margin-left: 106px;
}

.remove {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  border: none;
  width: 14px;
  height: 14px;
  overflow: hidden;
  background: #464646;
  color: #FFF;
  text-align: center;
  padding: 0;
  cursor: pointer;
}

.remove:hover {
  background: #717171;
}

.move {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #686868;
  width: 14px;
}

.move_button {
  position: absolute;
  cursor: pointer;
  font-size: 11px;
}

.move_button:hover {
  background-color: red;
}

.move_down {
  bottom: 0;
}

.move_disabled {
  color: #888;
  cursor: default;
}


.output_contols {
  margin-top: 10px;
}