<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">

  <title>Editor</title>

  <link type="text/css" rel="stylesheet" href="css/editor.css" />

</head>
<body>

  <noscript>
    <p class="noscript">Please enable JavaScript to use this application.</p>
  </noscript>

  <div>
    <div class="output_wrapper">
      <canvas width="640" height="480" id="output"></canvas>
    </div>

    <div class="col1" id="editor">

      <div id="sourceWrapper">
        <p>Source content</p>
        <img id="sourceImage" class="source_image" alt="Source image" src="img/test.jpg" width="150" />
        <input type="text" class="source_input" value="img/test.jpg" />
        <button class="source_update">Update</button>
      </div>


      <div class="filter_selection">
        <label>
          <span>Filters</span>
          <select id="filter_selection_dropdown"></select>
          <button id="filter_selection_add">Add</button>
        </label>

          <select id="filter_examples"></select>
          <button id="filter_example_load">Load effect</button>
      </div>

      <div id="active_filters"></div>

  </div>
  </div>


  <script type="text/template" id="template_input">
      <div class="move">
          <div class="move_button move_up" title="Move up">&#9650;</div>
          <div class="move_button move_down" title="Move down">&#9660;</div>
      </div>
      <p class="filter_name"><%= name %></p>
      <div class="inputs_wrapper"></div>
      <button class="remove" title="Remove filter"> &#10060;</button>
  </script>

  <script type="text/template" id="template_input_field">
    <label class="filter_input">
      <span class="option_name"><%= option.name %></span>
      <input
      <% _.each(option, function(value, key) { %>
      <%= key %>="<%= value %>"
      <% if (value === true) { %> checked <% } %>
      <% }); %>
      >
    </label>
  </script>

  <script src="js/libs/jquery-2.0.3.min.js"></script>
  <script src="js/libs/underscore.js"></script>
  <script src="js/libs/backbone.js"></script>
  <script src="js/libs/deep-model.backbone.js"></script>
  <script src="js/analogue.js"></script>
  <script src="js/models/filter.js"></script>
  <script src="js/models/input.js"></script>
  <script src="js/models/exampleCombinations.js"></script>
  <script src="js/models/filterData.js"></script>

  <script src="js/collections/filter.js"></script>
  <script src="js/views/filterItem.js"></script>
  <script src="js/views/filters.js"></script>
  <script src="js/views/sourceInput.js"></script>
  <script src="js/views/app.js"></script>
  <script src="js/app.js"></script>



  <!--<script src="//localhost:35729/livereload.js"></script>-->
  </body>
</html>

